html {
	scroll-padding-top: 3.5rem;
}

:root {
	color-scheme: light dark;

	--black: oklch(0% 0 0);
	--white: oklch(100% 0 0);

	--grey: oklch(33.6% 0.026 288);

	--light_blue: oklch(97.2% 0.013 282);
	--blue: oklch(90.6% 0.047 281);
	--dark_blue: oklch(38.8% 0.25 264);
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 3rem;
	color: light-dark(var(--black), var(--white));
	background: light-dark(var(--light-blue), var(--black));
	transition: 0.25s;

	@media (max-width: 700px) {
		margin: 0 0.8rem;
	}
}

main {
	margin: 5rem 0;
	flex-grow: 1;
}
