footer {
	display: flex;
	align-items: center;
	position: relative;
	padding: 5rem 3rem;
	background: linear-gradient(transparent, var(--black));
	margin: 0 -3rem;

	div {
		flex: 1;
	}

	h2 {
		font-size: 5rem;
		line-height: initial;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0;
	}

	a {
		color: inherit;
	}

	ul {
		list-style: none;
		text-align: right;

		li,
		p {
			margin: 0.5rem 0;
		}
	}
}

@media (max-width: 700px) {
	footer {
		padding: 4rem 0.8rem;
		flex-direction: column-reverse;
		margin: 0 -0.8rem;

		ul {
			text-align: center;
		}
	}
}
