.button {
	display: inline-block;
	border-radius: 0.5rem;
	padding: 0.75rem;
	color: light-dark(var(--white), var(--black));
	background: light-dark(var(--dark_blue), var(--blue));
	text-decoration: none;
	box-shadow: 0 0 0.75rem light-dark(var(--dark_blue), var(--blue));
	user-select: none;
	transition: transform 0.25s;

	&:hover,
	&:focus {
		transform: scale(1.05);
	}
}

:focus {
	outline-offset: 0.25rem;
}
