@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
	font-family: "Lexend", sans-serif;
}

p {
	margin-bottom: 0.8rem;
}

li {
	list-style-position: inside;
	line-height: 1.4rem;
	margin-bottom: 0.3rem;
}
