html {
	scroll-padding-top: 3.5rem;
}

body {
	min-height: 100lvh;
	margin: 0 3rem;
	color: var(--white);
	background-color: var(--light_blue);
}

@media (max-width: 700px) {
	body {
		margin: 0 0.8rem;
	}
}
