main {
	margin-top: 0;
}

.hero {
	display: flex;
	flex-direction: column;
	height: calc(100vh + 4.5rem);
	align-items: center;
	justify-content: center;
	color: var(--white);
	background-image: radial-gradient(at 66% 62%, hsla(279, 81%, 66%, 1) 0px, transparent 50%), radial-gradient(at 77% 39%, hsla(352, 74%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 17% 34%, hsla(216, 95%, 69%, 1) 0px, transparent 50%), radial-gradient(at 39% 57%, hsla(95, 70%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 47% 27%, hsla(108, 97%, 70%, 1) 0px, transparent 50%);
	margin: 0 -3rem;
	padding: 0 3rem;
	text-align: center;

	h1 {
		font-size: 6.5rem;
		font-size: clamp(3rem, 4rem + 3.5vw, 6.5rem);
		text-transform: uppercase;
		line-height: initial;
		text-shadow: 0 0 10rem var(--dark_blue);
	}

	p {
		font-size: 2rem;
		font-size: clamp(1rem, 1rem + 3.5vw, 2rem);
		line-height: 2.2rem;
		text-shadow: 0 0 10rem var(--dark_blue);
	}

	@media (max-width: 45rem) {
		margin: 0 -0.8rem;
		padding: 0 0.8rem;
	}
}

.landing-body-outer {
	background: light-dark(var(--light_blue), oklch(from var(--black) l c h / 0.8));
	color: light-dark(var(--black), var(--white));
	border-radius: 2rem;
	box-shadow: 0 0.5rem 2rem var(--black);
}

.landing-body-inner {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	margin: 0 auto;
	max-width: 65rem;
	padding: 6rem 4rem;
	align-items: center;
	text-align: center;

	@media (max-width: 45rem) {
		padding: 6rem 2rem;
	}

	h2 {
		font-size: 2.3rem;
		line-height: 2.7rem;
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		text-align: initial;

		@media (max-width: 50rem) {
			max-width: 50rem;
			grid-template-columns: repeat(1, 1fr);
		}
	}

	.card {
		padding: 2rem 1rem;
		background: var(--grey);
		border-radius: 0.5rem;
		color: var(--white);

		svg {
			margin-bottom: 1rem;
		}

		h2 {
			font-size: 1.2rem;
			line-height: 1.4rem;
		}
	}

	.description h2 {
		text-wrap: initial;
		padding: 0 4rem;

		@media (max-width: 50rem) {
			padding: 0;
		}
	}

	.cta {
		background: light-dark(var(--blue), var(--dark_blue));
		border-radius: 0.5rem;
		padding: 4rem 2rem;
		box-shadow: inset 0 0 1rem light-dark(var(--dark_blue), var(--blue));
		text-align: center;

		a {
			margin-top: 2rem;
			font-size: 1.2rem;
		}
	}
}
